@{
    ViewData["Title"] = "Contact Us";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <h1 class="text-center">This page is used to make suggestions and recommendations</h1>
    <form>
        <div class="container">
            <input type="text" id="firstName" class="form-control" placeholder="First name" style="width: 300px;"></br>
            <input type="text" id="lastName" class="form-control" placeholder="Last name" style="width: 300px;"></br>
            <input type="email" id="email" class="form-control" placeholder="Your email..." style="width: 300px;">
            <br><textarea id="message" class="form-control" id="exampleFormControlTextarea1" rows="3"
                placeholder="Type your message here..." style="width: 400px; text-align: left;"></textarea>
        </div>
        <button id="sendBtn" type="button" style="width: 200px;"><i class="fa-regular fa-paper-plane"></i>Send message</button>
    </form>
</body>

</html>